<div class="jumbotron">
  <div class="container-welcome">
      <p>Welcome to,</p><h1 class="display-3">Kneading Harmony!</h1> <p>Planning your appointments just got easier</p>
      <p></p>
      <p class="lead">
        <% if current_user %>
          <%= button_to "Create timeslot!", new_timeslot_path, :method => "get", class: "btn btn-lg btn-success" %>
        <% else %>
          <%= button_to "Sign Up!", new_user_path, :method => "get", class: "btn btn-lg btn-success" %>
        <% end %>
      </p>
    </div>
</div>

<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= image_tag "/assets/images/colorado.jpg", alt:"Colorado image" %>
                <div class="caption">
                    <h4 class="text-center">Swedish Massage</h4>
                    <p>
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Massage involves working and acting on the body with
                      pressure – structured, unstructured, stationary, or
                      moving – tension, motion, or vibration, done manually or
                      with mechanical aids. Massage can be applied with the
                      hands,fingers, elbows, knees, forearm, feet, or a massage
                      device.  At clients request, massage can be altered lying
                      on a massage table, sitting in a massage chair, or lying
                      on a mat on the floor"
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= image_tag "/assets/images/scenic.jpg", alt: "Tremendous Mountain"  %>
                <div class="caption">
                    <h4 class="text-center">Deep Tissue Massage</h4>
                    <p>
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Myofascial release refers to the manual massage technique
                      for stretching the fascia and releasing bonds between fascia,
                      integument, and muscles with the goal of eliminating pain,
                      increasing range of motion and equilibrioception. Myofascial
                      release usually involves applying shear compression or tension
                      in various directions, or by skin rolling.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= image_tag "/assets/images/scenic2.jpg", alt: "To beautiful for to share" %>
                <div class="caption">
                    <h4 class="text-center">Sport Massage</h4>
                    <p>
                      Duration: 1 hour / 1 hour 30 min. / 2 hour
                      Also known as manual therapy, manipulative therapy, or manual
                     & manipulative therapy, this is a physical treatment primarily
                      used on the neuromusculoskeletal system to treat pain and
                      disability. It most commonly includes kneading and
                      manipulation of muscles, joint mobilization and joint
                      manipulation.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
              <%= image_tag "/assets/images/sunrise.jpg", alt: "Possible Init" %>
                <div class="caption">
                    <h4 class="text-center">Accupressure</h4>
                    <p>
                    Duration: 1 hour / 1 hour 30 min.
                    An alternative medicine technique similar
                    in principle to acupuncture. It is based on the concept
                    of life energy which flows through "meridians" in the body.
                    In treatment, physical pressure is applied to acupuncture
                    points with the aim of clearing blockages in these meridians.
                    Pressure may be applied by hand, by elbow, or with various
                    devices.Some medical studies have suggested that acupressure
                    may be effective at helping manage nausea and vomiting, for
                    helping lower back pain, tension headaches, stomach ache.
                  </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container prices">
    <div class="jumbotron pricing-tables-jumbotron">
        <h2>3 Column Pricing Layout</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>Trial</h3>
                    <span>no strings attached</span>
                </div>
                <div class="option-price">
                    <span class="price">$0</span>
                    <span class="period">per month</span>
                </div>
                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>1GB</strong> Disk Space</li>
                        <li><strong>0</strong> Email Addresses</li>
                        <li><strong>2</strong> Domains </li>
                        <li><strong>4</strong> Subdomains</li>
                        <li><div class="qr" id="order1"></div></li>
                    </ul>
                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>Standard</h3>
                    <span>most valued</span>
                </div>

                <div class="option-price">
                    <span class="price">$99</span>
                    <span class="period">per month</span>
                </div>

                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>12GB</strong> Disk Space</li>
                        <li><strong>7</strong> Email Addresses</li>
                        <li><strong>10</strong> Domains </li>
                        <li><strong>40</strong> Subdomains</li>
                        <li><div class="qr" id="order2"></div></li>
                    </ul>
                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="option">
                <div class="option-title">
                    <h3>Premium</h3>
                    <span>extended version</span>
                </div>

                <div class="option-price">
                    <span class="price">$150</span>
                    <span class="period">per month</span>
                </div>

                <div class="option-list">
                    <ul class="item-list">
                        <li><strong>50GB</strong> Disk Space</li>
                        <li><strong>30</strong> Email Addresses</li>
                        <li><strong>30</strong> Domains </li>
                        <li><strong>120</strong> Subdomains</li>
                        <li><div class="qr" id="order3"></div></li>
                    </ul>
                    <button type="button" class="btn btn-success big"><i class="fa fa-hand-o-right hided-icon big"></i> Sign Up</button>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the  platform, head over to the <a href="" class="alert-link">Getting Started with Gradle on </a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to , either using Git or by using <a href=""> Button</a> on the repository.</li>

        <li>When  received the source code, it grabbed all the dependencies in the <a href="">pom.xml</a>.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="">150 add-on services</a>, from the Dashboard or CLI.</li>
        <li>Check out the <a href="">Getting Started</a> guide to learn more!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""> Dev Center</a></li>
        <li><a href="">Getting Started with Java on </a></li>
        <li><a href="">Deploying Java Apps on </a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with , and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
