<h1>Listing Users</h1>

<table>
  <tr>
    <th>First_name</th>
    <th>last_name</th>
    <th>email</th>
    <th>password_digest</th>
    <th>phone_number</th>
    <th>credit_card</th>
    <th colspan="2"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.password_digest %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.credit_card %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(article), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
