<br>
<br>

<section class="container user-container">
  <div class="row">
    <div class="col-md-6">
      <h3>Welcome, <%= @user.name %></h3>
        <br>
        <!-- you need image compiler, paperclip etc <% image_url @user.profile_image %> -->
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>Name:</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>Email Address:</td>
            <td><%= @user.email%></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-group" role="group">
        <div class="inner"><%= button_to "Edit Profile", user_edit_path(@user), :method => 'get', class: "btn btn-small btn-success" %></div>
        <div class="inner"><%= button_to "New Appointment", new_appointment_path(@user), :method => 'get', class: "btn btn-small btn-success" %></div>
        <div class="inner"><%= button_to "Delete Profile", destroy_user_path(@user),data: {:confirm=>'Are you sure you want to delete your profile? This cannot be undone.'}, :method => 'delete', class: "btn btn-small btn-danger" %></div>
        <div class="inner"><%= button_to "Purchase", products_path, :method => 'get', class: "btn btn-small btn-success" %></div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Appointments</h3>
      <br>
      <% if @user.appointments.empty? %>
        <p>You do not have any scheduled appointments</p>
      <% end %>
      <% else %>
      <% @user.appointments.each do |t|%>
        <h3><%= "#{t.user_id}" %></h3>
        <p>Your <%= "#{t.duration} " %> appoointment has been scheduled on <%= "#{t.date}" %></p>
         <p>Appointment Starts as<%= "#{t.start}" %></p>

        <br>
      <%end%>
    </div>
  </div>
</section>
