<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Serenity</h1>
    <hr>
    <p></p>
    <p class="lead">
      <% if current_user %>
        <%= button_to "Create Event!", new_event_path, :method => "get", class: "btn btn-lg btn-success" %>
      <% else %>
        <%= button_to "Sign Up!", new_user_path, :method => "get", class: "btn btn-lg btn-primary" %>
      <% end %>
    </p>
  </div>
</div>
<div class="container">
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      This section contains a wealth of information, related Harmony. If you cannot find an answer to your question,
      make sure to contact us.
  </div>

  <br />

  <div class="panel-group" id="accordion">
      <div class="faqHeader">Frequently Asked Question</div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do I need to register for an appointment?</a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                  We offer quick unintrusive 5 minute registration for online appointments.  If you prefer to schedule by phone please call not-a-number.
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Do you offer Swedish Massage?</a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Yes, we offer a variety of massages to suit all needs and desires <%= link_to "Services Rendered", services_path %>
            </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Whats your policy on late cancellations?</a>
              </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">

                <%= link_to "Services Rendered", services_path %>
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Do you sell gift cards?</a>
              </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse in">
              <div class="panel-body">
                  Account registration at PrepBootstrap is only required if you will be selling or buying themes.
                  This ensures a valid communication channel for all parties involved in any transactions.
                  <%= link_to "Services Rendered", services_path %>
              </div>
          </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">I had a great session with Jason, does he specialize in a style?</a>
              </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse in">
              <div class="panel-body">
                  Account registration at PrepBootstrap is only required if you will be selling or buying themes.
                  This ensures a valid communication channel for all parties involved in any transactions.
              </div>
          </div>
      </div>
    </div>
</div>
