<br>

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h1>Edit your Appointment</h1>
        </div>
        <br>
        <%= simple_form_for @appointment, url: edit_appointment_path(@user), as:'edit_appointment' do |f| %>
        <%= f.input :time, label:"Time", placeholder: "4:15pm" %>
        <%= f.input :date, label:"Day", placeholder: "mm/dd/yy" %>
        <%= f.input :reason_for_visit, label:"Service Requesting", placeholder: "deep tissue" %>
        <%= f.button :submit %>
        <% end %>
    </div>
</div>
<%= link_to 'Back', users_path %>
