<hr>
<div class="container">
  <div class="row">
    <h1>Create an Appointment</h1>
  </div>

<!-- ******* User Information Start ******** -->
  <div class="infos">
    <div class="col-xs-12 col-lg-5">
      <hr>
      <%= simple_form_for @appointment, url: create_appointment_path(@user), as:'new_appointment' do |f| %>
        <%= f.input :user, label: 'name' %>
        <%= f.input :timeslot, label: "Day of week" %>
        <%= f.input :timeslot, label:"Hour", collection: Timeslot.order(:hour), prompt: "Choose time" %>
        <%= f.input :reason_for_visit, label: "Services requesting" %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
