<hr>
<div class="container">
  <div class = "col-md-4">
  <div class="row">
    <h1>Create an Appointment</h1>
  </div>

<!-- ******* User Information Start ******** -->
  <div class="row">
      <%= simple_form_for @appointment, url: create_appointment_path(@user), as:'appointment' do |f| %>
        <%= f.input :time, label:"Time", placeholder: "4:15pm", class: 'form-control' %>
        <%= f.input :date, label:"Date", placeholder: "mm/dd/yy", class: 'form-control' %>
        <%= f.input :reason_for_visit, label:"Service Requesting", placeholder: "deep tissue", class: 'form-control' %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
